/*
Form Name: Social
Form URI: https://github.com/uxglow/contact-form-7/blob/master/social/1.0/social.css
Author: UX Glow
Author URI: http://uxglow.com/
Description: __desc__
Version: 1.0
Tags: Contact Form 7, Social
*/
body {
	background: #fff;
  margin: auto;
  font-family: 'Open Sans', sans-serif;
}
.wpcf7 *, .wpcf7 *::after, .wpcf7 *::before  {
	box-sizing: border-box  !important;	
}
.wpcf7{
	width:70%;	
	border-radius: 15px;
	font-family: 'Open Sans', sans-serif, Arial;
  	margin: 10% auto;
  	background-color:rgba(52, 73, 94, 0.8);
  	overflow: hidden;
	box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.25), 0 1px 2px 0 rgba(0, 0, 0, 0.19);
	color: #fff;
}
.wpcf7 .wpcf7-form::before {
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACMAAAAWCAYAAABKbiVHAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAABAhpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuNi1jMDY3IDc5LjE1Nzc0NywgMjAxNS8wMy8zMC0yMzo0MDo0MiAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wTU09Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9tbS8iIHhtbG5zOnN0UmVmPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvc1R5cGUvUmVzb3VyY2VSZWYjIiB4bWxuczp4bXA9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC8iIHhtbG5zOmRjPSJodHRwOi8vcHVybC5vcmcvZGMvZWxlbWVudHMvMS4xLyIgeG1wTU06T3JpZ2luYWxEb2N1bWVudElEPSJ1dWlkOjY1RTYzOTA2ODZDRjExREJBNkUyRDg4N0NFQUNCNDA3IiB4bXBNTTpEb2N1bWVudElEPSJ4bXAuZGlkOjAxMzIxQzNBODUzNDExRTU4RTQwRkQwODFEOUZEMEE3IiB4bXBNTTpJbnN0YW5jZUlEPSJ4bXAuaWlkOjAxMzIxQzM5ODUzNDExRTU4RTQwRkQwODFEOUZEMEE3IiB4bXA6Q3JlYXRvclRvb2w9IkFkb2JlIFBob3Rvc2hvcCBDQyAyMDE1IChNYWNpbnRvc2gpIj4gPHhtcE1NOkRlcml2ZWRGcm9tIHN0UmVmOmluc3RhbmNlSUQ9InhtcC5paWQ6MTk5NzA1OGEtZDI3OC00NDZkLWE4ODgtNGM4MGQ4YWI1NzNmIiBzdFJlZjpkb2N1bWVudElEPSJhZG9iZTpkb2NpZDpwaG90b3Nob3A6YzRkZmQxMGMtY2NlNS0xMTc4LWE5OGQtY2NkZmM5ODk5YWYwIi8+IDxkYzp0aXRsZT4gPHJkZjpBbHQ+IDxyZGY6bGkgeG1sOmxhbmc9IngtZGVmYXVsdCI+Z2x5cGhpY29uczwvcmRmOmxpPiA8L3JkZjpBbHQ+IDwvZGM6dGl0bGU+IDwvcmRmOkRlc2NyaXB0aW9uPiA8L3JkZjpSREY+IDwveDp4bXBtZXRhPiA8P3hwYWNrZXQgZW5kPSJyIj8+I08NYgAAAQ1JREFUeNrsVYsNhCAMlZvAURyBUW4ER3AUR7kRuA0YwQ2wzUHSE2grmosm1+TFT0v7Sh6lCyF0LQCzAAcIBPhtm3MeIBIY2F+ScQIZdxoZsAHgSXJ8H4g/SNDm0pDxhQK+kQybi8LEBV9mjMl/fioYzr8nNvmpPboL2S3IvJX/NKbPxZymrejoaRoFAT+1uUQBl4S3FRwnYim2JN5rawY66AETwBd2yqNvT3IpF9YragYMCy2MDl7xTupjLKeZKcbZuK4Wh/UmwiEb19m03JBYNBM4FSKknFBj4C69JZ0KfAqEJVIjyVNrxtXumZl01EqC2+G5ElPshFtwFKnRbIfUc+ZMu9+c+ZMhtgowAOOJiZYvfxUrAAAAAElFTkSuQmCC');
	background-repeat:no-repeat;
	background-position:center center;
	background-color:#fff;
    content: "";
    display: block;
    width: 50px;
	height: 50px;
	float:right;
	z-index: 1;
}
.wpcf7 .wpcf7-form {
    float: left;
    padding: 50px 5%;
    width: 100%;
}
.wpcf7 h1 {
  font-size: 24px;
  color: #b95757;
  color: rgb(255, 255, 255);
  padding: 22px 25px;
  border-radius: 5px 5px 0px 0px;
  margin: auto;
  text-shadow: none; 
  text-align:left;
}

.wpcf7 .wpcf7-form > p {
    padding: 0;
    margin: 10px 0 0 0;
	width:100%;
	float:left;
}

.wpcf7 .wpcf7-form label{
    color: #fff;
    display: block;
    float: left;
    font-size: 14px;
    font-weight: bold;
    margin: 0 0 10px;
    padding: 0;
    width: 100%
}
.wpcf7 .wpcf7-form label > span {
	float: left;
    margin-top: 4px;
    width: 100%;
}
.wpcf7 .wpcf7-form input[type=text],
.wpcf7 .wpcf7-form input[type=date],
.wpcf7 .wpcf7-form input[type=datetime],
.wpcf7 .wpcf7-form input[type=number],
.wpcf7 .wpcf7-form input[type=search],
.wpcf7 .wpcf7-form input[type=time],
.wpcf7 .wpcf7-form input[type=url],
.wpcf7 .wpcf7-form input[type=email],
.wpcf7 .wpcf7-form input[type=tel],
.wpcf7 .wpcf7-form textarea,
.wpcf7 .wpcf7-form select{
	border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555;
    box-sizing: border-box;
    float: left;
    height: 42px;
    margin: 0 0 6px;
    outline: medium none;
    padding: 8px 10px;
    transition: all 0.3s ease-in-out 0s;
    width: 100%;
}
.wpcf7 .wpcf7-form input[type=text]:focus,
.wpcf7 .wpcf7-form input[type=date]:focus,
.wpcf7 .wpcf7-form input[type=datetime]:focus,
.wpcf7 .wpcf7-form input[type=number]:focus,
.wpcf7 .wpcf7-form input[type=search]:focus,
.wpcf7 .wpcf7-form input[type=time]:focus,
.wpcf7 .wpcf7-form input[type=url]:focus,
.wpcf7 .wpcf7-form input[type=email]:focus,
.wpcf7 .wpcf7-form input[type=tel]:focus,
.wpcf7 .wpcf7-form textarea:focus,
.wpcf7 .wpcf7-form select:focus{
	border-color: #66afe9;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
    outline: 0 none;
}
.wpcf7 .wpcf7-form .field-divided{
    width: 49%;
}

.wpcf7 .wpcf7-form .wpcf7-form-control{
    width: 100%;
}
.wpcf7 .wpcf7-form .wpcf7-textarea{
    height: 100px;
}
.wpcf7 .wpcf7-form input[type=submit], 
.wpcf7 .wpcf7-form input[type=button]{
    background: #2ecc71;
    border: medium none;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 15px;
    text-transform: uppercase;
	transition: all 0.5s ease 0s;
	font-family:Arial, Helvetica, sans-serif;
	
}
.wpcf7 .wpcf7-form input[type=submit]:hover, 
.wpcf7 .wpcf7-form input[type=button]:hover{
    background: #19b55a;
    box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
	color: #fff;
}
.wpcf7 .wpcf7-form .required{
    color:red;
}
.wpcf7 .wpcf7-form .wpcf7-response-output{
	background-color:#B1531F;
	color:#fff;
	margin:30px 0 0 0;
	padding: 10px 2% 10px;
	font-size:12px;
	text-align:center;
	width: 96%;
	float:left;
}
.wpcf7 .wpcf7-form .wpcf7-not-valid-tip{
	color:#FAD160;
	font-size:12px;
	font-weight:normal;
}
.wpcf7 .screen-reader-response{
	display:none;
}
.wpcf7 .wpcf7-form .wpcf7-mail-sent-ok {
	border:none;
	background-color: #398f14;
	color: #fff;
}

.wpcf7 .wpcf7-form .wpcf7-mail-sent-ng {
	border: none;
	background-color: #CD0000;
	color: #fff;
}

.wpcf7 .wpcf7-form .wpcf7-spam-blocked {
	border: none;
	background-color: #ffa500;
	color: #fff;
}

.wpcf7 .wpcf7-form .wpcf7-validation-errors {
	border: none;
	background-color: #f7e700;
	color: #333;
}

.wpcf7-form-control-wrap {
	position: relative;
}