/*
Form Name: Skype
Form URI: https://github.com/uxglow/contact-form-7/blob/master/skype/1.0/skype.css
Author: UX Glow
Author URI: http://uxglow.com/
Description: __desc__
Version: 1.0
Tags: Contact Form 7, Skype
*/
body {
	background-color: #ccc;
  	margin: auto;
  	font-family: 'Helvetica' , Arial, sans-serif;
}
.wpcf7 *, .wpcf7 *::after, .wpcf7 *::before  {
	box-sizing: border-box  !important;	
}
.wpcf7{
	width:450px;	
	font-family: 'Helvetica' , Arial, sans-serif;
  	margin: 5% auto;
  	background-color: #fff;
  	overflow: hidden;
	box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.25), 0 1px 2px 0 rgba(0, 0, 0, 0.19);
	color: #666;
}
.wpcf7 .wpcf7-form {
    float: left;
    padding: 40px 10%;
    width: 100%;
}
.wpcf7 h1 {
  font-size: 24px;
  color: #b95757;
  color: rgb(255, 255, 255);
  padding: 22px 25px;
  border-radius: 5px 5px 0px 0px;
  margin: auto;
  text-shadow: none; 
  text-align:left;
}

.wpcf7 .wpcf7-form > p {
    padding: 0;
    margin: 10px 0 0 0;
	width:100%;
	float:left;
}

.wpcf7 .wpcf7-form label{
    color: #555;
    display: block;
    float: left;
    font-size: 14px;
    font-weight: bold;
    margin: 0 0 10px;
    padding: 0;
    width: 100%
}
.wpcf7 .wpcf7-form label > span {
	float: left;
    margin-top: 4px;
    width: 100%;
}
.wpcf7 .wpcf7-form input[type=text],
.wpcf7 .wpcf7-form input[type=date],
.wpcf7 .wpcf7-form input[type=datetime],
.wpcf7 .wpcf7-form input[type=number],
.wpcf7 .wpcf7-form input[type=search],
.wpcf7 .wpcf7-form input[type=time],
.wpcf7 .wpcf7-form input[type=url],
.wpcf7 .wpcf7-form input[type=email],
.wpcf7 .wpcf7-form input[type=tel],
.wpcf7 .wpcf7-form textarea,
.wpcf7 .wpcf7-form select{
	border: 1px solid #00aff0;
    box-sizing: border-box;
    float: left;
	font-size: 16px;
	line-height: 22px;
    height: 46px;
    margin: 0 0 6px;
    outline: medium none;
    padding: 8px 10px;
    transition: all 0.3s ease 0s;
    width: 100%;
	color: #ccc;
}
.wpcf7 .wpcf7-form input[type=text]:focus,
.wpcf7 .wpcf7-form input[type=date]:focus,
.wpcf7 .wpcf7-form input[type=datetime]:focus,
.wpcf7 .wpcf7-form input[type=number]:focus,
.wpcf7 .wpcf7-form input[type=search]:focus,
.wpcf7 .wpcf7-form input[type=time]:focus,
.wpcf7 .wpcf7-form input[type=url]:focus,
.wpcf7 .wpcf7-form input[type=email]:focus,
.wpcf7 .wpcf7-form input[type=tel]:focus,
.wpcf7 .wpcf7-form textarea:focus,
.wpcf7 .wpcf7-form select:focus{
	color: #fff;
	border: 2px solid #00aff0;
}
.wpcf7 .wpcf7-form .field-divided{
    width: 49%;
}

.wpcf7 .wpcf7-form .wpcf7-form-control{
    width: 100%;
}
.wpcf7 .wpcf7-form .wpcf7-textarea{
    height: 100px;
}
.wpcf7 .wpcf7-form input[type=submit], 
.wpcf7 .wpcf7-form input[type=button]{
    background: #077db4;
	border-radius: 50px;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
	font-family:Arial, Helvetica, sans-serif;
    font-weight: 400;
    padding: 10px 15px;
    text-transform: uppercase;
	transition: all 0.3s ease 0s;
	
}
.wpcf7 .wpcf7-form input[type=submit]:hover, 
.wpcf7 .wpcf7-form input[type=button]:hover{
    background-color: #0773a6;
    border-color: #0773a6;
    box-shadow:0 0 0 2px white, 0 0 0 3px #0773a6;
    -moz-box-shadow:0 0 0 2px white, 0 0 0 3px #0773a6;
    -webkit-box-shadow:0 0 0 2px white, 0 0 0 3px #0773a6;
	color: #fff;
}
.wpcf7 .wpcf7-form .required{
    color:red;
}
.wpcf7 .wpcf7-form .wpcf7-response-output{
	background-color:#B1531F;
	color:#fff;
	margin:30px 0 0 0;
	padding: 10px 2% 10px;
	font-size:12px;
	text-align:center;
	width: 96%;
	float:left;
}
.wpcf7 .wpcf7-form .wpcf7-not-valid-tip{
	color:#CD0000;
	font-size:12px;
	font-weight:normal;
}
.wpcf7 .screen-reader-response{
	display:none;
}
.wpcf7 .wpcf7-form .wpcf7-mail-sent-ok {
	border:none;
	background-color: #398f14;
	color: #fff;
}

.wpcf7 .wpcf7-form .wpcf7-mail-sent-ng {
	border: none;
	background-color: #CD0000;
	color: #fff;
}

.wpcf7 .wpcf7-form .wpcf7-spam-blocked {
	border: none;
	background-color: #ffa500;
	color: #fff;
}

.wpcf7 .wpcf7-form .wpcf7-validation-errors {
	border: none;
	background-color: #f7e700;
	color: #333;
}

.wpcf7-form-control-wrap {
	position: relative;
}
