/*
Form Name: Orange Candy
Form URI: https://github.com/uxglow/contact-form-7/blob/master/orange-candy/1.0/orange-candy.css
Author: UX Glow
Author URI: http://uxglow.com/
Description: __desc__
Version: 1.0
Tags: Contact Form 7, Orange Candy
*/

.wpcf7 *, .wpcf7 *::after, .wpcf7 *::before  {
	box-sizing: border-box  !important;	
}
body {
  font-family: "Helvetica", Arial, sans-serif;
  font-weight: 100;
  font-size: 12px;
  line-height: 30px;
  color: #777;
  background: #fff;
}

.wpcf7{
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	color:#fff;
	background: #F29107;
	width: 600px;
	margin: 5% auto;
	overflow: hidden;
	border-radius: 50px;
	box-shadow: 3px 5px 10px #aaaaaa;
}
.wpcf7 .wpcf7-form {
    float: left;
    padding: 20px 5% 30px;
    width: 100%;
}
.wpcf7 .wpcf7-form p {
    padding: 0;
    margin: 10px 0 0 0;
	width: 100%;
	
}
.wpcf7 .wpcf7-form label{
    margin:0 0 3px 0;
    padding:0px;
    display:block;
    font-weight: bold;
	font-size:14px;
}
.wpcf7 .wpcf7-form input[type=text],
.wpcf7 .wpcf7-form input[type=date],
.wpcf7 .wpcf7-form input[type=datetime],
.wpcf7 .wpcf7-form input[type=number],
.wpcf7 .wpcf7-form input[type=search],
.wpcf7 .wpcf7-form input[type=time],
.wpcf7 .wpcf7-form input[type=url],
.wpcf7 .wpcf7-form input[type=email],
.wpcf7 .wpcf7-form input[type=tel],
.wpcf7 .wpcf7-form textarea,
.wpcf7 .wpcf7-form select{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border:1px solid #FFF;
    padding: 15.5px;
    margin:0px;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
	border-radius: 25px; 
}
.wpcf7 .wpcf7-form input[type=text]:focus,
.wpcf7 .wpcf7-form input[type=date]:focus,
.wpcf7 .wpcf7-form input[type=datetime]:focus,
.wpcf7 .wpcf7-form input[type=number]:focus,
.wpcf7 .wpcf7-form input[type=search]:focus,
.wpcf7 .wpcf7-form input[type=time]:focus,
.wpcf7 .wpcf7-form input[type=url]:focus,
.wpcf7 .wpcf7-form input[type=email]:focus,
.wpcf7 .wpcf7-form input[type=tel]:focus,
.wpcf7 .wpcf7-form textarea:focus,
.wpcf7 .wpcf7-form select:focus{
    -moz-box-shadow: 1px 2px 8px #d8850e;
    -webkit-box-shadow: 1px 2px 8px #d8850e;
    box-shadow: 1px 2px 8px #d8850e;
	border: 1px solid #d8850e;
	
}
.wpcf7 .wpcf7-form .field-divided{
    width: 49%;
}

.wpcf7 .wpcf7-form .wpcf7-form-control{
    width: 100%;
}
.wpcf7 .wpcf7-form .wpcf7-textarea{
    height: 140px;
}
.wpcf7 .wpcf7-form input[type=submit], 
.wpcf7 .wpcf7-form input[type=button]{
    background: #f8ae45;
    padding: 8px 15px;
    border: none;
    color: #fff;
	cursor:pointer;
	font-size:20px;
	float:left;
	width:100px;
	border-radius: 25px;
}
.wpcf7 .wpcf7-form input[type=submit]:hover, 
.wpcf7 .wpcf7-form input[type=button]:hover{
    background: #d8850e;
    box-shadow:1px 2px 6px #d8850e;
    -moz-box-shadow:1px 2px 6px #d8850e;
    -webkit-box-shadow:1px 2px 6px #d8850e;
}
.wpcf7 .wpcf7-form .required{
    color:red;
}
.wpcf7 .wpcf7-form .wpcf7-response-output{
	background-color:#f8ae45;
	color:#fff;
	margin:15px 0 0 0;
	font-size:12px;
	text-align:center;
	width: 100%;
	float:left;
}
.wpcf7 .wpcf7-form .wpcf7-not-valid-tip{
	color:#fefefe;
	font-size:12px;
	font-weight:normal;
}
.wpcf7 .screen-reader-response{
	display:none;
}
