/*
Form Name: Dark Web
Form URI: https://github.com/uxglow/contact-form-7/blob/master/dark-web/1.0/dark-web.css
Author: UX Glow
Author URI: http://uxglow.com/
Description: __desc__
Version: 1.0
Tags: Contact Form 7, Dark Web
*/
body {
	background-color: #fff;
  margin: auto;
  font-family: 'Open Sans', sans-serif;
}
.wpcf7{
	background:#111;
	width:400px;	
	font-family: 'Open Sans', sans-serif, Arial;
  	margin: 5% auto;
  	overflow: hidden;
	color: #ccc;
}
.wpcf7 .wpcf7-form {
    float: left;
    padding: 40px 5%;
    width: 90%;
}
.wpcf7 h1 {
  font-size: 24px;
  color: #ccc;
  color: rgb(255, 255, 255);
  padding: 22px 25px;
  border-radius: 5px 5px 0px 0px;
  margin: auto;
  text-shadow: none; 
  text-align:left;
}

.wpcf7 .wpcf7-form > p {
    padding: 0;
    margin: 10px 0 0 0;
	width:100%;
	float:left;
}

.wpcf7 .wpcf7-form label{
    color: #aaa;
    display: block;
    float: left;
    font-size: 14px;
    font-weight: bold;
    margin: 0 0 10px;
    padding: 0;
    width: 100%
}
.wpcf7 .wpcf7-form label > span {
	float: left;
    margin-top: 4px;
    width: 100%;
}
.wpcf7 .wpcf7-form input[type=text],
.wpcf7 .wpcf7-form input[type=date],
.wpcf7 .wpcf7-form input[type=datetime],
.wpcf7 .wpcf7-form input[type=number],
.wpcf7 .wpcf7-form input[type=search],
.wpcf7 .wpcf7-form input[type=time],
.wpcf7 .wpcf7-form input[type=url],
.wpcf7 .wpcf7-form input[type=email],
.wpcf7 .wpcf7-form input[type=tel],
.wpcf7 .wpcf7-form textarea,
.wpcf7 .wpcf7-form select{
	background-color: #111;
	border: 1px solid #aaa;
	border-radius: 4px;
    box-sizing: border-box;
    float: left;
	letter-spacing: 1px;
    height: 42px;
    margin: 0 0 6px;
    outline: medium none;
    padding: 8px 10px;
    transition: all 0.3s ease-in-out 0s;
    width: 100%;
	color: #fff;
}
.wpcf7 .wpcf7-form input[type=text]:focus,
.wpcf7 .wpcf7-form input[type=date]:focus,
.wpcf7 .wpcf7-form input[type=datetime]:focus,
.wpcf7 .wpcf7-form input[type=number]:focus,
.wpcf7 .wpcf7-form input[type=search]:focus,
.wpcf7 .wpcf7-form input[type=time]:focus,
.wpcf7 .wpcf7-form input[type=url]:focus,
.wpcf7 .wpcf7-form input[type=email]:focus,
.wpcf7 .wpcf7-form input[type=tel]:focus,
.wpcf7 .wpcf7-form textarea:focus,
.wpcf7 .wpcf7-form select:focus{
	color: #fff;
	border: 1px solid #66afe9;
}
.wpcf7 .wpcf7-form .field-divided{
    width: 49%;
}

.wpcf7 .wpcf7-form .wpcf7-form-control{
    width: 100%;
}
.wpcf7 .wpcf7-form .wpcf7-textarea{
    height: 100px;
}
.wpcf7 .wpcf7-form input[type=submit], 
.wpcf7 .wpcf7-form input[type=button]{
    background: #337ab7;
	border-radius: 4px;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    padding: 5px 10px;
    text-transform: uppercase;
	transition: all 0.2s ease-in-out 0s;
	font-family:Arial, Helvetica, sans-serif;
}
.wpcf7 .wpcf7-form input[type=submit]:hover, 
.wpcf7 .wpcf7-form input[type=button]:hover{
    background: #2e6da4;
    box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
	color: #fff;
}
.wpcf7 .wpcf7-form .required{
    color:red;
}
.wpcf7 .wpcf7-form .wpcf7-response-output{
	background-color:#B1531F;
	color:#fff;
	margin:30px 0 0 0;
	padding: 10px 2% 10px;
	font-size:12px;
	text-align:center;
	width: 96%;
	float:left;
}
.wpcf7 .wpcf7-form .wpcf7-not-valid-tip{
	color:#66afe9;
	font-size:12px;
	font-weight:normal;
}
.wpcf7 .screen-reader-response{
	display:none;
}
.wpcf7 .wpcf7-form .wpcf7-mail-sent-ok {
	border:none;
	background-color: #398f14;
	color: #fff;
}

.wpcf7 .wpcf7-form .wpcf7-mail-sent-ng {
	border: none;
	background-color: #CD0000;
	color: #fff;
}

.wpcf7 .wpcf7-form .wpcf7-spam-blocked {
	border: none;
	background-color: #ffa500;
	color: #fff;
}

.wpcf7 .wpcf7-form .wpcf7-validation-errors {
	border: none;
	background-color: #f7e700;
	color: #333;
}

.wpcf7-form-control-wrap {
	position: relative;
}
