/*
Form Name: Paper Plane
Form URI: https://github.com/uxglow/contact-form-7/blob/master/paper-plane/1.0/paper-plane.css
Author: UX Glow
Author URI: http://uxglow.com/
Description: __desc__
Version: 1.0
Tags: Contact Form 7, Paper Plane
*/
.wpcf7 *, .wpcf7 *::after, .wpcf7 *::before  {
	box-sizing: border-box  !important;	
}
body {
	background-color: #dcdddf;
 	margin: auto;
  	font-family: 'Open Sans', sans-serif;
}
.wrapper {
    float: left;
    left: 30%;
    position: relative;
}
.wpcf7::before {
    top: 0;
    transform: rotate(-2deg);
    z-index: -2;
}
.wpcf7::after {
    top: 0;
    transform: rotate(2deg);
    z-index: -1;
}
.wpcf7::after, .wpcf7::before {
    background: rgba(0, 0, 0, 0) -moz-linear-gradient(center top , rgba(248, 248, 248, 1) 0%, rgba(249, 249, 249, 1) 100%) repeat scroll 0 0;
    border: 1px solid #c4c6ca;
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
}
.wpcf7 *, .wpcf7 *::after, .wpcf7 *::before  {
	box-sizing: border-box  !important;	
}
.wpcf7{
	background:rgba(0, 0, 0, 0) -moz-linear-gradient(center top , rgba(248, 248, 248, 1) 0%, rgba(249, 249, 249, 1) 100%) repeat scroll 0 0;
	border:1px solid #c4c6ca;
	width:450px;	
	font-family: 'Open Sans', sans-serif, Arial;
  	margin: 5% auto;
	box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.25), 0 1px 2px 0 rgba(0, 0, 0, 0.19);
	color: #666;
    content: "";
    display: block;
    position: absolute;
}
.wpcf7 .wpcf7-form::before {
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAZCAYAAADE6YVjAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAABAhpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuNi1jMDY3IDc5LjE1Nzc0NywgMjAxNS8wMy8zMC0yMzo0MDo0MiAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wTU09Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9tbS8iIHhtbG5zOnN0UmVmPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvc1R5cGUvUmVzb3VyY2VSZWYjIiB4bWxuczp4bXA9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC8iIHhtbG5zOmRjPSJodHRwOi8vcHVybC5vcmcvZGMvZWxlbWVudHMvMS4xLyIgeG1wTU06T3JpZ2luYWxEb2N1bWVudElEPSJ1dWlkOjY1RTYzOTA2ODZDRjExREJBNkUyRDg4N0NFQUNCNDA3IiB4bXBNTTpEb2N1bWVudElEPSJ4bXAuZGlkOjAzNzA1MDkxODUzNzExRTU4RTQwRkQwODFEOUZEMEE3IiB4bXBNTTpJbnN0YW5jZUlEPSJ4bXAuaWlkOjAzNzA1MDkwODUzNzExRTU4RTQwRkQwODFEOUZEMEE3IiB4bXA6Q3JlYXRvclRvb2w9IkFkb2JlIFBob3Rvc2hvcCBDQyAyMDE1IChNYWNpbnRvc2gpIj4gPHhtcE1NOkRlcml2ZWRGcm9tIHN0UmVmOmluc3RhbmNlSUQ9InhtcC5paWQ6MTk5NzA1OGEtZDI3OC00NDZkLWE4ODgtNGM4MGQ4YWI1NzNmIiBzdFJlZjpkb2N1bWVudElEPSJhZG9iZTpkb2NpZDpwaG90b3Nob3A6YzRkZmQxMGMtY2NlNS0xMTc4LWE5OGQtY2NkZmM5ODk5YWYwIi8+IDxkYzp0aXRsZT4gPHJkZjpBbHQ+IDxyZGY6bGkgeG1sOmxhbmc9IngtZGVmYXVsdCI+Z2x5cGhpY29uczwvcmRmOmxpPiA8L3JkZjpBbHQ+IDwvZGM6dGl0bGU+IDwvcmRmOkRlc2NyaXB0aW9uPiA8L3JkZjpSREY+IDwveDp4bXBtZXRhPiA8P3hwYWNrZXQgZW5kPSJyIj8+WYLTvQAAAQJJREFUeNq0VA0ZgjAUZAkkAjawgYtAA4lgBCIYgQhGWAQjYANNMN/Dx8/wDbfxtu+7D9x2d9zgVNbaItdQSmm4XAs0kQaMGmAA+KOTFm8APYmPqHKKI27DurA43r/oHq9lsolHvBnOf55rp/1C4iXgsZifUgSb+MRprVoZOCk2TejpvOK057R4B2wK1oTE2xXZEad9mjH4SYFQY+OhneXQzi8Oi+K+8VNclRmP6MKU/Al6Fdd+7slT0XBHr2DhTkah4+yZ96ZI6UhUCuedRPyz2qgUgknqTY6AifnLETDRuU1MEGenic5tYoI5O0x0bpMuhpNaxiPw+mBSQpI2lvMRYACTi7QlvbL7YQAAAABJRU5ErkJggg==');
	background-repeat:no-repeat;
	background-position:center center;
	background-color:#fff;
    content: "";
    display: block;
    width: 50px;
	height: 50px;
	float:right;
	z-index: 1;
}
.wpcf7 .wpcf7-form {
    float: left;
    padding: 40px 10%;
    width: 100%;
}
.wpcf7 h1 {
  font-size: 24px;
  color: #b95757;
  color: rgb(255, 255, 255);
  padding: 22px 25px;
  border-radius: 5px 5px 0px 0px;
  margin: auto;
  text-shadow: none; 
  text-align:left;
}

.wpcf7 .wpcf7-form > p {
    padding: 0;
    margin: 10px 0 0 0;
	width:100%;
	float:left;
}

.wpcf7 .wpcf7-form label{
    color: #666;
    display: block;
    float: left;
    font-size: 14px;
    font-weight: bold;
    margin: 0 0 10px;
    padding: 0;
    width: 100%
}
.wpcf7 .wpcf7-form label > span {
	float: left;
    margin-top: 4px;
    width: 100%;
}
.wpcf7 .wpcf7-form input[type=text],
.wpcf7 .wpcf7-form input[type=date],
.wpcf7 .wpcf7-form input[type=datetime],
.wpcf7 .wpcf7-form input[type=number],
.wpcf7 .wpcf7-form input[type=search],
.wpcf7 .wpcf7-form input[type=time],
.wpcf7 .wpcf7-form input[type=url],
.wpcf7 .wpcf7-form input[type=email],
.wpcf7 .wpcf7-form input[type=tel],
.wpcf7 .wpcf7-form textarea,
.wpcf7 .wpcf7-form select{
	background-color:#eae7e7;
	border: 1px solid #c8c8c8;
	border-radius: 3px;
    box-sizing: border-box;
    float: left;
    height: 42px;
    margin: 0 0 6px;
    outline: medium none;
    padding: 8px 10px;
    transition: all 0.3s ease-in-out 0s;
    width: 100%;
	color: #ccc;
	
}
.wpcf7 .wpcf7-form input[type=text]:focus,
.wpcf7 .wpcf7-form input[type=date]:focus,
.wpcf7 .wpcf7-form input[type=datetime]:focus,
.wpcf7 .wpcf7-form input[type=number]:focus,
.wpcf7 .wpcf7-form input[type=search]:focus,
.wpcf7 .wpcf7-form input[type=time]:focus,
.wpcf7 .wpcf7-form input[type=url]:focus,
.wpcf7 .wpcf7-form input[type=email]:focus,
.wpcf7 .wpcf7-form input[type=tel]:focus,
.wpcf7 .wpcf7-form textarea:focus,
.wpcf7 .wpcf7-form select:focus{
	color: #fff;
	border: 1px solid #B1531F;
	box-shadow:0 0 2px #B1531F inset;
}
.wpcf7 .wpcf7-form .field-divided{
    width: 49%;
}

.wpcf7 .wpcf7-form .wpcf7-form-control{
    width: 100%;
}
.wpcf7 .wpcf7-form .wpcf7-textarea{
    height: 100px;
}
.wpcf7 .wpcf7-form input[type=submit], 
.wpcf7 .wpcf7-form input[type=button]{
    background: #B1531F;
    border: medium none;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 15px;
    text-transform: uppercase;
	font-family:Arial, Helvetica, sans-serif;
}
.wpcf7 .wpcf7-form input[type=submit]:hover, 
.wpcf7 .wpcf7-form input[type=button]:hover{
    background: #333;
    box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
	color: #fff;
}
.wpcf7 .wpcf7-form .required{
    color:red;
}
.wpcf7 .wpcf7-form .wpcf7-response-output{
	background-color:#B1531F;
	color:#fff;
	margin:30px 0 0 0;
	padding: 5px 2% 5px;
	font-size:12px;
	text-align:center;
	width: 96%;
	float:left;
}
.wpcf7 .wpcf7-form .wpcf7-not-valid-tip{
	color:#aa4848;
	font-size:12px;
	font-weight:normal;
}
.wpcf7 .screen-reader-response{
	display:none;
}
.wpcf7 .wpcf7-form .wpcf7-mail-sent-ok {
	border:none;
	background-color: #398f14;
	color: #fff;
}

.wpcf7 .wpcf7-form .wpcf7-mail-sent-ng {
	border: none;
	background-color: #ff0000;
	color: #fff;
}

.wpcf7 .wpcf7-form .wpcf7-spam-blocked {
	border: none;
	background-color: #ffa500;
	color: #fff;
}

.wpcf7 .wpcf7-form .wpcf7-validation-errors {
	border: none;
	background-color: #f7e700;
	color: #333;
}
.wpcf7-form-control-wrap {
	position: relative;
}